body {
    background-color: #3768b8;
    background-image: url(SealOfThePresident.png);
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    margin: 0;
    color: white;
}

.senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

figcaption {
    text-align: center;
}

figure {
    background-color: black;
}

.menu {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}